name: test
on: [push, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Get code
        uses: actions/checkout@v6.0.2
      - name: List Code
        run: ls
  
    
